.charts {
  display: flex;
  flex-direction: column;
  flex: 1 5 auto;
  height: 100%;
  width: 100%;
  align-items: space-around;
  align-content: center;
}

button {
  width: 25%;
  height: 100%;
}

.controls {
  height: 100%;
  width: 100%;
  min-width: 200px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.message {
  display: flex;
  position: relative;
  right: 50px;
  width: 450px;
  height: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
