body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(24, 23, 23);
  color: #d1dfe6;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav a {
  display: inline-block;
  margin: 1em;
}

div {
  margin: 0;
  padding: 0;
}

#three {
  display: flex;
  background-color: black;
  height: 100%;
  width: 100%;
}

.animation {
  display: flex;
  flex: 1 5;
  height: 100%;
  width: 100%;
}
