/* Footer */
.entire-footer {
  color: #d08fdd;
  background-color: rgb(65, 65, 65);
  display: flex;
  flex-direction: row;
  padding: 25px;
  justify-content: space-around;
}

footer a {
  color: #d08fdd;
}

.footer-left {
  display: flex;
  font-size: medium;
  align-items: center;
}

.footer-right {
  display: flex;
  align-items: center;
  text-align: center;
  width: 15%;
}

.footer-right div {
  font-size: small;
}

.footer-right a {
  width: 30%;
  border-radius: 2px;
  font-size: 25px;
  line-height: 35px;
  margin: 0px 5px;
  transition: all 0.25s;
}

.footer-right a:hover {
  transform: scale(1.2);
  color: #8f66e9;
}
.footer-left a:hover,
.footer-left a:hover p {
  transform: scale(1.08);
  color: #8f66e9;
}

@media (max-width: 600px) {
  .footer-left,
  .footer-right {
    text-align: center;
  }
  .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-right a {
    line-height: 1.8;
  }
}
