h1 {
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-size: 250%;
  margin: 0px;
}

.bars {
  background-color: rgb(22, 22, 22);
  height: 100%;
  width: 100%;
  color: #d08fdd;
  border-bottom: 0.5rem #d08fdd solid;
}

p {
  text-align: center;
  font-size: small;
}
