.charts {
  display: flex;
  flex-direction: column;
  flex: 1 5 auto;
  height: 100%;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #d08fdd;
  border-radius: 10px;
  padding: 5px;
  height: 3rem;
  width: 10rem;
}

small {
  font-size: xx-small;
}
.selected {
  background-color: rgb(138, 130, 190);
  text-emphasis: bold;
}

.play {
  background-color: mediumaquamarine;
}

.stop {
  background-color: rgb(206, 86, 86);
}

.controls {
  height: 100%;
  width: 40rem;
  min-width: 200px;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.message {
  display: flex;
  height: 100px;
  text-align: center;
  align-items: center;
}
